body{
    padding-top: 80px;
}

header{
	background: #e3eaa7; 
	padding-bottom: 20px;
    padding-top: 20px;
	width: 100%;
    position: fixed;
    top: 0;
}
.social img{
	width: 20px;
    display: inline-block;
	margin-left: 20px;
}

/*hasta aca el header*/
div#background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}
/*primer contenedor*/
.card-andy{
    border-radius: 32px;
    margin-top: 20px;
    margin:10px 10px;
    border-color: #d5e1df;
    border-style: solid;
    padding: 20px;
}

/*imagen de perfil*/
div#imgRedonda img {
    width:auto;
    height:auto;
    margin-top: -30%;
}
div#logoClick img{
    width: 70px;
    height:70px;
    float: right;
}

.botonera{
    padding-top: 10px;
}

.jobs img {
    width: 80px;
    height:80px;
}

.btn-edit2{
    float: right;
}
p{
    color: gray;
    font-size: 11sp;
}

h1{
    padding: -2px;
}


   




/*uso el punto para referir todas las clases, uso el # para los id*/

